{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col m-4">
        <div class="row">
            <h1>
                {{ page.title }}
                <small class="text-muted">Last updated by <b>{{ page.author.username }}</b> on {{ page.modified|date:"SHORT_DATETIME_FORMAT" }} </small>
            </h1>
            {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'edit-page' slug=page.slug %}"><i class="fas fa-edit"></i></a>
            {% endif %}
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col" style="margin-top: 3em; margin-bottom: 5em;">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores neque ullam ut, eveniet ratione eos,
                    fuga tempora vero ex a illo qui sint quo odio, fugit odit quibusdam itaque nihil. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Aliquam, non, doloremque veniam consequuntur laborum tempore odit
                    tempora eum dolores fugiat minus, blanditiis possimus quis omnis soluta molestiae nobis magni sunt? Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Tenetur fugit error earum nihil accusamus necessitatibus
                    reprehenderit dignissimos modi ducimus laudantium deserunt similique numquam fugiat obcaecati porro, quos
                    aperiam expedita. Vero.
                </p>
            </div>
            <div class="col text-center">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/250x250?text=Image+of+this+place"></a>
            </div>
        </div>
        <p>{{ page.content|linebreaksbr }}</p>
        <hr>
        <a href="{% url 'list-page' %}" class="btn btn-success">Back to List</a>
        <a href="{% url 'trivia' slug=page.slug %}" class="btn btn-primary">Trivia</a>
    </div>
  </div>
{% endblock %}
