<!-- Footer -->
<footer class='font-small text-white bg-dark' id="footer">
    <div class='container-fluid row text-center pt-3'>
        <div class='col-md-4 mb-md-0'>
            <h5 class='text-uppercase'>Links</h5>
            <ul class='list-unstyled'>
                <li><a href='https://facebook.com'><i class="fab fa-facebook"></i></a></li>
                <li><a href='https://Youtube.com'><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
        
        <div class='col-md-4 mb-md-0 footer-copyright text-center'>© {% now "Y" %} Copyright: Chris Barnes</div>
        
        <div class='col-md-4 mb-md-0'>
            <h5 class='text-uppercase'>Links</h5>
            <ul class='list-unstyled'>
                <li><a href='https://pirhotechs.com'>pirhotechs</a></li>
                <li><a href="{% url 'email' %}">Contact us</a></li>
            </ul>
        </div>
    </div>
</footer>