<!-- Footer -->
<footer class='page-footer font-small text-white bg-info absolute-bottom mt-3'>
    <div class='container-fluid row text-center pt-3'>
        <div class='col-md-4 mb-md-0'>
            <h5 class='text-uppercase'>Links</h5>
            <ul class='list-unstyled'>
                <li><a href='https://facebook.com'>facebook</a></li>
                <li><a href='https://Youtube.com'>Youtube</a></li>
            </ul>
        </div>
        
        <div class='col-md-4 mb-md-0 footer-copyright text-center pt-5'>© 2018 Copyright: Chris Barnes</div>
        
        <div class='col-md-4 mb-md-0'>
            <h5 class='text-uppercase'>Links</h5>
            <ul class='list-unstyled'>
                <li><a href='https://pirhotechs.com'>pirhotechs</a></li>
                <li><a href="{% url 'email' %}">Contact us</a></li>
            </ul>
        </div>
    </div>
</footer>