<!-- Footer -->
<footer class='page-footer font-small text-white bg-info fixed-bottom mt-5'>
    <div class='container-fluid text-center pt-3'>
        <div class='row'>
            <hr class='clearfix w-100 d-md-none pb-3'>
            <div class='col-md-6 mb-md-0'>
                <h5 class='text-uppercase'>Links</h5>
                <ul class='list-unstyled'>
                    <li><a href='https://facebook.com'>facebook</a></li>
                    <li><a href='https://Youtube.com'>Youtube</a></li>
                </ul>
            </div>
            <div class='col-md-6 mb-md-0'>
                <h5 class='text-uppercase'>Links</h5>
                <ul class='list-unstyled'>
                    <li><a href='https://pirhotechs.com'>pirhotechs</a></li>
                    <li><a href='#!'>Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class='footer-copyright text-center py-1 pb-3'>© 2018 Copyright: Chris Barnes
    </div>
</footer>