<div class="card mb-3">
  <h5 class="card-header ">{{ page.title }}</h5>
  <div class="card-body border-dark">
    <p class="card-text text-dark">
      {{ page.content|truncatewords_html:30 }}
      <hr>
      <div class="text-right"><a href="{% url 'wiki-details-page' page.slug %}" title="Read More">Read More</a></div>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated {{ page.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ page.author.username }}</b></small>
  </div>
</div>
