<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Locational Trivia Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- BOOTSTRAP THEME -->
    <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">

    <!-- CUSTOM STYLES -->
    <!-- <link rel="stylesheet" href="styles.css"> -->

</head>

<body>
    {% include 'partials/navbar.html' %}
    
    <div class='container'>
        {% block content %}
            BODY CONTENT GOES HERE
        {% endblock %}
    </div>
    
    {% include 'partials/footer.html' %}
    
    <!-- Latest compiled and minified JavaScript -->
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>
</html>