{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col m-4">
        <div class="row">
            <h1>
                {{ page.title }}
                <small class="text-muted">Last updated by <b>{{ page.author.username }}</b> on {{ page.modified|date:"SHORT_DATETIME_FORMAT" }} </small>
            </h1>
            {% if user.is_authenticated %}
                <a href="{% url 'edit-page' slug=page.slug %}"><i class="fas fa-edit"></i></a>
            {% endif %}
        </div>
        <hr>
        <p>{{ page.content|linebreaksbr }}</p>
        <hr>
        <a href="{% url 'list-page' %}" class="btn btn-success">Back to List</a>
    </div>
  </div>
{% endblock %}
