body {
    background: lightgrey url("images/background.jpg") center;
}

.footer-copyright{
    font-size: large;
    font-weight: 600;
    padding-top: 4em;
    color: black;
}
h1 {
    color: orangered;
}

h2, h3, h4, p {
    color: white;
}

ul {
    color:  white;
    font-size: x-large;
}

h3 a, h3 a:hover{
    color: #007bff
}

.card a, .card a:hover{
    color: #007bff
}

label {
    font-size: x-large;
    color: white;
}

.fa-edit {
    margin-top: 0.2em;
    margin-left: 0.3em;
    font-size: xx-large;
    color: red;
}

.fa-trash {
    font-size: xx-large;
    color: red;
}

.fa-facebook {
    color: blue;
}

.fa-youtube {
    color: red;
}

.carousel-indicators li{
    width: 75px !important;
    height: 75px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    text-indent: 0px !important;
}

.carousel-indicators li img{
    width: 75px !important;
    height: 75px !important;
}