body {
    background: lightgrey url("images/background.jpg") center;
}

h1 {
    color: orangered;
}

h2, h3{
    color: lightcoral;
}

p {
    color: white;
}

label {
    color: white;
}

.fa-edit {
    margin-top: 0.5em;
    margin-left: 2em;
    font-size: large;
    color: red;
}

.carousel-indicators li{
    width: 75px !important;
    height: 75px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    text-indent: 0px !important;
}

.carousel-indicators li img{
    width: 75px;
    height: 75px;
}