<!-- templates/about.html -->
{% extends 'base.html' %}

{% block content %}
<div class="row mt-5">
    <h2>Locational Trivia About Page</h2>
</div>
<div class="row mt-3">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque fugit ipsam quaerat nemo quae facilis
        nihil temporibus dolor adipisci dolores quasi, nobis non quos sapiente vitae totam. Sequi, eos blanditiis?</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga molestiae vitae nam omnis laudantium. Optio
        recusandae sequi magnam dignissimos id at minima voluptatibus quibusdam ex incidunt, pariatur cumque laborum
        necessitatibus.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, amet maxime. Accusamus vero, excepturi
        dignissimos voluptate quae ea repellendus consequatur, sunt quia cumque commodi amet ipsam! Tempore
        quibusdam odio aperiam?</p>
</div>
{% endblock %}