<!-- trivia/game.html -->
{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col text-center">
        <h1>Quiz on {{ slug }}, {{ num_questions }} questions total</h1>
    </div>
</div>

<div class="row mb-5">
    <div class="col-md-2"></div>
    <form action="" method="POST">
    <!-- {% csrf_token %} -->
    <div class="col-md-8">
        {% for question in questions %}<h4>{{ question }}</h5>
            {% for choice in choices %} {% if choice.question == question %}
                <input type="radio" id="choice" name="{{ question }}" value="{{ choice }}"><label for="choice">{{ choice }}</label>
                <!-- <input type="checkbox" value=""> -->
            {% endif %} {% endfor %}
        {% endfor %}
        <hr>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    </div>
    <div class="col-md-2"></div>
</div> <!-- end Row -->
{% endblock %}